@charset "utf-8";
.dis-table {
  display: table;
}
.dis-table > div {
  display: table-cell;
  vertical-align: top;
}
.content-box {
  padding: 0.34rem 0.3rem 0.3rem 0.3rem;
  background-color: #ede6db;
}
.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.pt20 {
  padding-top: 0.4rem;
}
.pt40 {
  padding-top: 0.8rem;
}
.pr {
  position: relative;
}
.pb {
  padding-bottom: 0.3rem !important;
}
body {
  background-color: #f5f5f5;
}
header {
  background: #fff;
  height: 1.4rem;
  position: relative;
}
header a {
  position: absolute;
  top: 0;
}
header #home {
  width: 1.6rem;
  height: 1.4rem;
  display: inline-block;
  left: 0;
}
header #home svg {
  width: 1rem;
  height: 1.1rem;
  margin: 0.154rem 0.3rem;
}
header #home path {
  fill: #964a16;
}
header h1 {
  font-size: 0.7rem;
  text-align: center;
  height: 1.4rem;
  line-height: 1.4rem;
  color: #964a16;
}
header .cesuan {
  width: 3.52rem;
  height: 1.4rem;
  right: 0;
}
header .cesuan span {
  border-radius: 0.2rem;
  padding: 0.16rem 0.4rem;
  margin-top: 0.3rem;
  font-size: 0.55rem;
  background-color: #964a16;
  color: #fff;
}
footer {
  background-color: #d5ccc3;
}
footer .logo {
  padding: 0.3rem;
}
footer .logo img {
  display: block;
  width: 3.7rem;
  height: 0.92rem;
  margin: 0 auto;
}
footer .f-p {
  font-size: 0.6rem;
  text-align: center;
  padding: 0.1rem;
}
footer .f-p.f-d span {
  padding: 0 0.3rem;
}
footer .f-p a {
  color: #7a0e0e;
}
footer .f-p .f-c {
  color: #7a0e0e;
}
.m_beian {
  background-color: #333333;
  color: #fff;
  font-size: 0.3rem;
  text-align: center;
  padding: .1rem 0;
}
